.map-area-top iframe {
  width: 100%;
  height: 500px;
}
.page-scroll img {
  height: 100px;
}
.service_image_body {
  width: 100%;
  height: 600px;
  margin-top: 40px;
}
.before_after {
  padding: 3% 0px;
}
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0px 0 2px grey;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a9d91d;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a9d91d;
}

.about-page-area .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.mean-container .mean-nav {
  background: white;
}
.mean-container .mean-nav ul li {
  background: white;
}

.mean-container .mean-nav ul li a {
  background: white;
}

/* VIDEO PLAYER */
.vimeo-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vimeo-wrapper .overlay {
  background: rgba(0, 0, 0, 0.426);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.vimeo-wrapper video {
  width: 150vw;
  height: auto; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cover_section {
  position: absolute;
  text-align: center;
  color: white;
  z-index: 2;
}

.cover_section h1 {
  color: white;
}
.cover_section p {
  color: white;
  font-size: 22px;
}

.vimeo-wrapper {
  background-image: url("../img/slider/s2.jpg");
  background-position: center;
  background-size: cover;
}

.services-4 .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
}

.about-feature .col-md-4 {
  text-align: center;
}

.feature-icon {
  width: 100%;
  text-align: center;
}

.feature-icon img {
  width: 30%;
  margin-bottom: 15px;
}

.footer-list li a {
  text-transform: capitalize !important;
}

.well-services img {
  width: 50%;
}

.services_select_q {
  width: 100%;
  height: 35px;
  border-radius: 3px;
  padding: 7px;
}
