.card__layout--main {
	width: 90%;
	height: 90%;
	background: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	overflow-y: auto;
	/* width */
	::-webkit-scrollbar {
		width: 10px;
	}
	
	/* Track */
	::-webkit-scrollbar-track {
		// box-shadow: inset 0 0 5px grey; 
		border-radius: 0px;
	}
	
	/* Handle */
	::-webkit-scrollbar-thumb {
		background: red; 
		border-radius: 0px;
	}
	
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		// background: #b30000; 
	}

	.section__nav {
		padding-top: 3%;
		padding-bottom: 3%;

		.layout__content {
			width: 100%;
		}

		.nav__tabs {
			padding-left: 7px;
			padding-right: 7px;
			border: 1px solid $orangeColor;
			background: #fff;
			color: $orangeColor;
		    margin-left: 5px;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.layout__holder {
		height: 60vh;
		position: relative;

		&.layout--auto-height {
			height: auto;
			width: 100%;
			float: left;
		}

		.section__informator {
		    float: left;
		    font-size: 18px;
		    padding-top: 10px;
		    font-weight: normal;
		    padding-left: 10px;
		    padding-bottom: 10px;
		    color: $orangeColor;
		}

		.layout__form {
			.layout__input {
			    width: 100%;
			    margin-top: 15px;
			    display: flex;
			    flex-direction: column;

			    &.gallery--layout__input {
			    	background: $pageGrey;
			    	padding-top: 15px;
			    	padding-bottom: 15px;
			    	margin-top: 0;
			    }

			    &.flex--row {
			    	flex-direction: row;
			    	align-items: center;
			    	justify-content: space-between;

			    	input {
			    		width: 96%;
			    	}
			    }

			    label {
			    	float: left;
			    	color: $orangeColor;
			    }

			    input, textarea {
			    	float: left;
				    width: 100%;
				    padding-top: 5px;
				    padding-bottom: 5px;
			    	border: 1px solid #e0e2e4;
			    }

			    input[type="file"] {
			    	border: 0 !important;
			    }

			    textarea {
			    	resize: none;
			    	height: 100px;
			    }

			    .image__preview {
				    width: 100%;
				    height: 200px;
				    background-repeat: no-repeat;
				    background-position: center;
				    background-size: cover;
				    margin-top: 20px;
			    }
			}
		}
	}
}

.tab-content {
	width: 50%;
	float: left;

	&.fullWidth {
		width: 100%;
	}
}

.c__editor {
	height: 65vh !important;
	width: 50%;
	float: left;
}

.save__button {
	position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    border: none;
    width: 100px;
    padding: 8px;

    &.cancel {
    	right: 15%;
    	background: white;
    	color: $orangeColor;
    }


    &.relative--position {
    	position: relative;
    	right: 0;
    }
}

.modal-title {
	color: $orangeColor;
}

// LINK BUTTONS

.default__link {
    color: $orangeColor;
    text-decoration: none;
    float: left;
    width: auto;
    position: relative;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 15px;

    &.custom--link {
	    padding-right: 0;
	    float: right !important;
	    margin-right: 20px;
	    padding-bottom: 4px;
	    padding-top: 10px;
	    cursor: pointer;

	    &:after {
	    	bottom: 0;
	    }
    }

    &:after {
	    content: '';
	    width: 0%;
	    height: 1px;
	    background: #8e0d00;
	    position: absolute;
	    bottom: -5px;
	    left: 0;
	    transition: all .2s ease-in;
    }


	&:hover {
		color: $orangeColor;
		text-decoration: none;

		&:after {
			width: 100%;
		}
	}
}

.link__button {
	border: 1px solid $orangeColor;
    padding: 10px;
    color: #8e0d00;
    margin-left: 3px;
    margin-right: 3px;

    &:hover {
    	text-decoration: none;
    	color: $orangeColor;
    }
}

.default__button {
    background: $orangeColor;
    padding: 10px 17px;
    border-radius: 0;
    color: #fff;
    border: none;
    place-self: flex-start;
    margin-top: 10px;
    cursor: pointer;

    &:hover {
    	opacity: 0.8;
    }
}

.add__button-icon {
    display: block;
    float: right;
    margin-right: 15px;
    font-size: 20px;
    color: $orangeColor;
    cursor: pointer;
    padding-top: 10px;

    &:hover {
    	color: $orangeColor;
    	opacity: 0.8;
    }
}

.tab-content--full_width {
	width: 100%;
}

.language__holder {
    position: relative;
    display: flex;
    justify-content: flex-start;

    a {
    	margin-right: 10px;
    	font-size: 16px;
    	color: $orangeColor;
    	cursor: pointer;
    	position: relative;

    	&.active {
    		color: #00b007;

    		&::after {
    			content: '';
    			width: 100%;
    			height: 1px;
    			background: #00b007;
    			position: absolute;
    			left: 0;
    			bottom: 0;
    		}
    	}

    	&:last-child {
    		margin-right: 0;
    	}
    }
}