body {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;

	.navigation__holder {
		width: 20%;
		height: 100vh;
		background: $mainColor;
		float: left;
    position: fixed;
    z-index: 9;

    .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

		.logo {
			width: 70%;
		    height: auto;
		    margin: 0 auto;
		    padding-top: 15%;
		    padding-bottom: 25px;

		    img {
	    	    width: 80%;
			    display: block;
			    margin: 0 auto;
		    }
		}

		ul {

			width: 100%;

    		li {
			    list-style: none;
			    color: #ecf0f1;
			    font-size: 16px;

			    i {
	    	    	padding-right: 10px;
    				font-size: 18px;
			    }

			    a {
				    display: block;
				    float: left;
				    width: 100%;
				    padding-top: 2px;
	        		padding-bottom: 15px;
				    color: #fff;
				    text-decoration: none;

				    &:after {
				    	top: 15px !important;
				    }

				    &[aria-expanded="true"] {
				    	img {
				    		transform: rotate(0deg);
				    	}
				    }

				    img {
			    	    width: 20px;
					    display: block;
					    float: right;
					    transform: rotate(90deg);
					    transition: all .2s ease;
				    }
			    }

			    span {
				    padding-right: 10px;
				    font-size: 18px;
				    display: block;
				    float: left;
			    }
    		}
		}

		.undermenu {

    		li {
    			font-size: 14px !important;
    		}
		}
	}

	.header__container {
		width: 80%;
    float: right;
		height: 70px;
		background: #fff;
		box-shadow: 0 8px 17px 2px rgba(0,0,0,.04), 0 3px 14px 2px rgba(0, 0, 0, 0), 0 5px 5px -3px rgba(0, 0, 0, 0);
		box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    position: relative;

	    .log__out {
	    	position: absolute;
	    	right: 30px;
		    text-decoration: none;
		    color: #8e0d00;

		    &:after {
			    content: '';
			    width: 0%;
			    height: 1px;
			    background: #8e0d00;
			    position: absolute;
			    bottom: -5px;
			    left: 0;
			    transition: all .2s ease-in;
		    }

		    &:hover {
		    	&:after {
		    		width: 100%;
		    	}
		    }
	    }
	}
}


:focus {
  outline: none;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
/* 
    Sometimes the sub menus get too large for the page and prevent the menu from scrolling, limiting functionality
    A quick fix is to change .side-menu to 

    -> position:absolute
    
    and uncomment the code below.
    You also need to uncomment 
    
    -> <div class="absolute-wrapper"> </div> in the html file

    you also need to tweek the animation. Just uncomment the code in that section
    --------------------------------------------------------------------------------------------------------------------
    If you want to make it really neat i suggest you look into an alternative like http://areaaperta.com/nicescroll/
    This will allow the menu to say fixed on body scoll and scoll on the side bar if it get to large
*/
/*.absolute-wrapper{*/
/*    position: fixed;*/
/*    width: 300px;*/
/*    height: 100%;*/
/*    background-color: #f8f8f8;*/
/*    border-right: 1px solid #e7e7e7;*/
/*}*/

.side-menu {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: none;
  padding-top: 25px;
}

.collapse.in {
	border-left: 2px solid #8e0d00;
}

.navbar-default {
	box-shadow: none !important;
}

.side-menu .navbar {
  border: none;
}
.side-menu .navbar-header {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav .active a {
  background-color: red;
  margin-right: -1px;
  border-right: 5px solid #e7e7e7;
}
.side-menu .navbar-nav li {
  display: block;
  width: 100%;
  background: $mainColor;
}
.side-menu .navbar-nav li a {
  padding: 15px;
  color: #fff !important;

  &:hover {
  	color: #fff;
  }
}
.side-menu .navbar-nav li a .glyphicon {
  padding-right: 10px;
}
.side-menu #dropdown {
  border: 0;
  margin-bottom: 0;
  border-radius: 0;
  background: $mainColor;
}
.side-menu #dropdown .caret {
  float: right;
  margin: 9px 5px 0;
}
.side-menu #dropdown .indicator {
  float: right;
}

.side-menu #dropdown .panel-body {
  padding: 0;
  background-color: $mainColor;
}
.side-menu #dropdown .panel-body .navbar-nav {
  width: 100%;
}
.side-menu #dropdown .panel-body .navbar-nav li {
  padding-left: 15px;
}
.side-menu #dropdown .panel-body .navbar-nav li:last-child {
  border-bottom: none;
}
.side-menu #dropdown .panel-body .panel > a {
  margin-left: -20px;
  padding-left: 35px;
}
.side-menu #dropdown .panel-body .panel-body {
  margin-left: -15px;
}
.side-menu #dropdown .panel-body .panel-body li {
  padding-left: 30px;
}
.side-menu #dropdown .panel-body .panel-body li:last-child {
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #search-trigger {
  background-color: #f3f3f3;
  border: 0;
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 18px;
}
.side-menu .brand-name-wrapper {
  min-height: 50px;
}
.side-menu .brand-name-wrapper .navbar-brand {
  display: block;
}
.side-menu #search {
  position: relative;
  z-index: 1000;
}
.side-menu #search .panel-body {
  padding: 0;
}
.side-menu #search .panel-body .navbar-form {
  padding: 0;
  padding-right: 50px;
  width: 100%;
  margin: 0;
  position: relative;
  border-top: 1px solid #e7e7e7;
}
.side-menu #search .panel-body .navbar-form .form-group {
  width: 100%;
  position: relative;
}
.side-menu #search .panel-body .navbar-form input {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  height: 50px;
}
.side-menu #search .panel-body .navbar-form .btn {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 0;
  background-color: #f3f3f3;
  padding: 15px 18px;
}
/* Main body section */
.side-body {
  margin-left: 310px;
}
/* small screen */
@media (max-width: 768px) {
  .side-menu {
    position: relative;
    width: 100%;
    height: 0;
    border-right: 0;
    border-bottom: 1px solid #e7e7e7;
  }
  .side-menu .brand-name-wrapper .navbar-brand {
    display: inline-block;
  }
  /* Slide in animation */
  @-moz-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-webkit-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-moz-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @-webkit-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  /* Slide side menu*/
  /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
  /*.side-menu-container > .navbar-nav.slide-in {*/
  /*  -moz-animation: slidein 300ms forwards;*/
  /*  -o-animation: slidein 300ms forwards;*/
  /*  -webkit-animation: slidein 300ms forwards;*/
  /*  animation: slidein 300ms forwards;*/
  /*  -webkit-transform-style: preserve-3d;*/
  /*  transform-style: preserve-3d;*/
  /*}*/
  .side-menu-container > .navbar-nav {
    /* Add position:absolute for scrollable menu -> see top comment */
    position: fixed;
    left: -300px;
    width: 100%;
    top: 43px;
    height: 100%;
    border-right: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    -moz-animation: slideout 300ms forwards;
    -o-animation: slideout 300ms forwards;
    -webkit-animation: slideout 300ms forwards;
    animation: slideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .navbar-nav {
  	width: 100% 
  }
 
  .absolute-wrapper{
        width:285px;
        -moz-animation: slideout 300ms forwards;
        -o-animation: slideout 300ms forwards;
        -webkit-animation: slideout 300ms forwards;
        animation: slideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
  @-moz-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-webkit-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-moz-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @-webkit-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  /* Slide side body*/
  .side-body {
    margin-left: 5px;
    margin-top: 70px;
    position: relative;
    -moz-animation: bodyslideout 300ms forwards;
    -o-animation: bodyslideout 300ms forwards;
    -webkit-animation: bodyslideout 300ms forwards;
    animation: bodyslideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .body-slide-in {
    -moz-animation: bodyslidein 300ms forwards;
    -o-animation: bodyslidein 300ms forwards;
    -webkit-animation: bodyslidein 300ms forwards;
    animation: bodyslidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  /* Hamburger */
  .navbar-toggle {
    border: 0;
    float: left;
    padding: 18px;
    margin: 0;
    border-radius: 0;
    background-color: #f3f3f3;
  }
  /* Search */
  #search .panel-body .navbar-form {
    border-bottom: 0;
  }
  #search .panel-body .navbar-form .form-group {
    margin: 0;
  }
  .navbar-header {
    /* this is probably redundant */
    position: fixed;
    z-index: 3;
    background-color: #f8f8f8;
  }
  /* Dropdown tweek */
  #dropdown .panel-body .navbar-nav {
    margin: 0;
  }
}

.navi {
  &.router-link-active {
    border-left: 2px solid $orangeColor;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0, 0, 0, 0);
    z-index: 9;
    i {
      color: $orangeColor;
    }

  }
}


.admin__copyrightet {
    color: #fff;
    font-size: 12px;
    bottom: 10px;
    position: absolute;
    padding-left: 15px;
}


.navbar-default {
  background: transparent !important;
}