/*-------------------------------------------------------------------------------------------*/
/*  Main Banner        ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
.main-banner {
	position: relative;
}
.main-banner .banner-text .sub-text {
	font-weight: 600;
	color: #ffffff;
	font-size: 16px;
	display: block;
	margin-bottom: 5px;
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1;
}
.main-banner .banner-text h2, .main-banner .banner-text h2 span {
	font-size: 40px;
	color: #ffffff;
	font-weight: 800;
	margin-bottom: 10px;
	line-height: 1.3;
	text-transform: capitalize;
	padding: 10px 0;
}
.main-banner .banner-text h2 span {
	color: #A4161A;
}
.main-banner .banner-text p {
	font-family: "Poppins", sans-serif;
	color: #ffffff;
	font-size: 15px;
	margin-bottom: 20px;
	line-height: 1.8;
}
.main-banner .tp-parallax-wrap {
}
.main-banner .tp-mask-wrap {
	height: auto;
}
.main-banner .more-btn {
	background: #A4161A;
	line-height: 30px;
	padding-left: 38px;
	padding-right: 38px;
	font-weight: 700;
	color: #fff;
}
.main-banner li .btn-text {
	line-height: 60px;
	padding-left: 38px;
	padding-right: 38px;
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 100px;
}
#wrapper .main-banner .tp-bullets {
	top: auto;
	left: 52%;
	display: block;
	visibility: visible;
	opacity: 1;
	bottom: 66px;
}
.main-banner .tp-bullet {
	width: 26px;
	height: 3px;
	background: #8f8f8f;
}
.main-banner .tp-bullet.selected {
	background: #ffaf36;
}
.tparrows.tp-leftarrow, .tparrows.tp-rightarrow {
	border: 1px solid #fff;
	z-index: 99;
	cursor: pointer;
	background: none;
	visibility: hidden;
}
.main-banner:hover .tparrows.tp-leftarrow, .main-banner:hover .tparrows.tp-rightarrow {
	visibility: visible;
}
.tparrows.tp-leftarrow:hover, .tparrows.tp-rightarrow:hover {
	background: #A4161A;
	border: 1px solid #A4161A;
}
.slotholder:before {
	border-top: none;
	border-bottom: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(0,0,0,0.69);
	content: '';
}
@media (max-width: 991px) {
	.main-banner .banner-text h2 {
		font-size: 50px;
		line-height: 50px;
	}
}

@media (max-width: 480px) {
	.main-banner .banner-text h2, .main-banner .banner-text h2 span {
		font-size: 30px;
	}
	.main-banner .banner-text p {
		line-height: 1.2;
		font-size: 15px;
	}
}

.main-banner li .btn-text {
	line-height: 44px !important;
}
.btn-text {
	font-size: 14px;
	color: #fff;
	font-family: "Poppins", sans-serif;
	line-height: 41px;
	border: 2px solid #A4161A;
	padding: 0 22px;
	border-radius: 30px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #A4161A;
	height: 44px;
	text-align: center;
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}
.btn-text:hover {
	background: none;
	color: #A4161A;
	text-decoration: none;
}
/*sec_tital*/
.sec-title {
	position: relative;
}
.sec-title h2 {
	position: relative;
	color: #1d1d1d;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.2em;
	padding-bottom: 15px;
}
.sec-title h2:before {
	position: absolute;
	content: '';
	left: 0px;
	bottom: 0px;
	width: 270px;
	border-bottom: 2px solid #e4e4e4;
}
.sec-title h2:after {
	position: absolute;
	content: '';
	left: 0px;
	bottom: 0px;
	width: 70px;
	border-bottom: 5px solid #ffb200;
}
.center_bdr h2:before, .center_bdr h2:after{
left: 50%;
transform: translateX(-50%);
}

/*================top_cloume===========*/
.analyzed_wrap__block{
	margin-top: -84px;
	
}
.box_sdw{
	box-shadow: 0px 2px 10px #00000017;
}
.white_bg {
    background:#fff;
    margin: 0;
	padding: 0;
	transition: all 0.3s;
}
.analyzed_wrap__block .col-lg-4:hover{
	transform: scale(1.05);
	z-index: 2;
}
.single_analize__block {
    color: #ffffff;
    min-height: 290px;
    padding: 40px 25px;
}
.single_analize__block h2{
	color:#e8a20d;
	font-size:20px;
}
.single_analize__block p{
	color: #222;
}
.analyzed_wrap__block .box_bg {
    background: #e8a20d;
}

.analyzed_wrap__block .icon__block i.fa {
    display: inline-block;
    font-size: 47px;
    margin-bottom: 21px;
    color: #e8a20d;
}
.analyzed_wrap__block .box_bg .icon__block i.fa,
.box_bg h2 a:hover,
.analyzed_wrap__block .box_bg .single_analize__block p{
	color: #fff;
}
.promor_wrap__block > h1 {
    color: #0c1f38;
}
.promor_wrap__block > p {
    color: #777777;
}
p.blue_text__block {
    color: #3f8ffb;
}
.box_content__block {
    margin: 15px 0;
    min-height: 65px;
    position: relative;
}
.boxed_btn__block i.fa {
    background: #eaeaea none repeat scroll 0 0;
    height: 50px;
    position: absolute;
    width: 50px;
}
.box_content__block i.fa {
    background: #eaeaea none repeat scroll 0 0;
    border-radius: 5px;
    font-size: 20px;
    height: 60px;
    left: 0;
    line-height: 60px;
    margin-top: -39px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 60px;
	color: #A4161A;;
}
.box_content__block h2 span {
    color: #222222;
    display: block;
    font-size: 70%;
}
.box_content__block h2 {
    font-size: 20px;
    margin-left: 73px;
}
.busines_promo_wrapper__block {
    padding: 80px 0;
}
.section_title__block.text-center h1 {
    display: inline-block;
    position: relative;
}
.section_title__block.text-center h1::after {
    background: #0c1f38 none repeat scroll 0 0;
    bottom: -10px;
    content: "";
    height: 3px;
    left: 50%;
    margin-left: -22.5px;
    position: absolute;
    width: 45px;
}

@media (max-width: 991px){
    .busines_promo_wrapper__block img {
      display: block;
      margin: 0 auto 20px;
    }
}
@media (max-width:767px){
    .analyzed_wrap__block{
        margin: 0;
    }
    .analyzed_wrap__block .col-lg-4{
        margin: 10px;
    }
    .analyzed_wrap__block .col-lg-4:nth-child(2){
        margin: 10px;
    }
}
/*service section*/
.service_bg_01__block{
    background-image: url(../images/service/services-1.jpg)
}
.service_bg_02__block{
    background-image: url(../images/service/services-2.jpg)
}
.service_bg_03__block{
    background-image: url(../images/service/services-3.jpg)
}
.service_bg_04__block{
    background-image: url(../images/service/services-4.jpg)
}
.icon_box__block {
  background-position: center center;
  background-size: cover;
  border: 8px solid #1d1d1d;
  float: left;
  margin-top: -82px;
  position: absolute;
  top: 50%;
  width: 155px;
  z-index: 1;
}

.icon_box__block i.fa {
     color: #1d1d1d;
     font-size: 80px;
     line-height: 140px;
     text-align: center;
     width: 100%;
     transition: .4s;
}

.icon_box__block::before {
    background: #ffffff none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.service_wrapper__block {
    background: #f7f8fa none repeat scroll 0 0;
}
.service_content__blcok {
    background: #fdfdfd none repeat scroll 0 0;
    border: 1px solid #e6e6e6;
    display: inline-block;
    margin-left: 114px;
    padding:29px 59px;
    transition: all 0.4s ease 0s;
}
.service_content__blcok h3{
	margin-top: 0px;
}
.service_content__blcok p{
	margin: 0px;
}
.service_content__blcok h3:hover {
    color: #feb20d;
}
.single_service__block {
    height: 200px;

    position: relative;
}
.mar_top{
    margin: 20px 0 0;	
}
.single_service__block:hover .service_content__blcok {
    background:#e8a20d;
    color: #ffffff;
}
.single_service__block:hover .service_content__blcok  a{
	color:#fff;
}
.single_service__block:hover .icon_box__block i.fa {
  color: #e8a20d;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.service_content__blcok{
		    padding: 10px 59px;
	}
}


@media (min-width:768px) and (max-width:991px){
    .single_service__block {
      height: auto;
    }
    .service_content__blcok{
        padding-right: 20px;
    }
}

@media (max-width:767px){
    .service_content__blcok{
        padding: 110px 15px 15px 15px;
        margin: 0;
        text-align: center;
    }
    .icon_box__block{
        /* display: none; */
        width: 80px;
        height: 80px;
        border: 2px solid #222;
        /* position:  static; */
        /* margin-top: 0; */
        right: 0;
        margin: 0 auto;
        left: 0;
        top: 15px;
    }
    .icon_box__block i.fa{
    	font-size: 48px;
    	line-height:80px;
    }
    .single_service__block{
        height: auto;
    }
    .single-counterup {
      margin-bottom: 30px;
    }
    .single_info__block{
        margin-bottom: 25px;
    }
}

/*** compny services ***/
.comp-service{
	padding-right: 30px;
}
.padd_des{
	padding-left: 30px;
}
.postion_rele{
	position: relative;
	z-index: 1;
}
.about_comp{	
	position: relative;
}
.about_comp:before{
	background: url(../images/footer_bg.jpg);
    position: absolute;
    top: 0px;
    width: 50%;
    content: "";
    right: 0px;
    height: 100%;
    background-size: cover;
	background-attachment: fixed;
	-webkit-backface-visibility: hidden;
    background-repeat: no-repeat;
}
.about_comp:after{
	content: "";
	background:rgba(0, 0, 0, 0.59);
	top: 0px;
	right: 0px;
	width: 50%;
	position: absolute;
	height: 100%;
}
.comp-service h3 {
	display: inline-block;
	/* width:100%; */
	margin-top: 0;
	overflow: hidden;
}
.comp-service h3 .size {
	color:#e8a20d;
	font-size:90px;
	margin:0 10px 0 0;
	padding:0;
	float:left;
	line-height:80px;
	font-weight:900;
}
.comp-service .total-text {
	float:left;
	 margin: 10px 0 0;
	     line-height: 1.2;
}
.comp-service .text {
	display:block;
	color:#989898;
	padding:0;
	font-weight:400;
}
.comp-service .big-text {
	color:#333;
	font-size:40px;
	font-weight:600;
}
.comp-service .line {
   margin:0 0 35px;
   padding:0 0 30px;
   border-bottom:1px solid #b7b7b7;
}
.icon-section i {
	width: 60px;
	height: 60px;
	color: #fff;
	border-radius:50%;
	border:1px solid #e8a20d;
	font-size: 29px;
	text-align:center;
	line-height: 60px;
	/* margin:0 0 15px; */
	display: inline-block;
	/* float: left; */
	background: #e8a20d;
}
.icon-section h3 {
	color:#333;
	text-transform:uppercase;
	font-size:18px;
	margin: 0;
	line-height: 1;
	padding-left: 15px;
}
.icon_box{
	margin-bottom: 12px;
	text-align: left;
}
.icon-section{
	text-align: left;
}
.about_comp .reap_counter {
	width:100%;
	padding:20px 30px;
	margin:0 0 30px;
	border-radius:10px;
	text-align:center;
	background: #fff;
	transition: all 0.3s ease 0s;
}
.about_comp .reap_counter:hover {
	box-shadow:0 3px 12px rgba(0, 0, 0, 0.3);
	background:#fff;
}
.about_comp .reap_counter:hover .icon {
	color:#e8a20d
}
.about_comp .reap_counter .icon {
	text-align: center;
}
.about_comp .reap_counter .icon span {
	font-size:60px;
	color: #e8a20d;
}
.about_comp .reap_counter .lnr {
	font-size: 35px;
	display: inline-block;
}
.about_comp .reap_counter .number {
	font-size: 35px;
	font-weight: 700;
	margin: 0 auto;
	padding: 15px 0 0;
	color:#e8a20d;
}
.about_comp .reap_counter p {
	font-size: 15px;
	font-weight: 400;
	margin: 15px 0 0;
	padding: 0;
	color: #222;
}
.about_comp .reap_counter:hover p{
	color: #E8A20D;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
.comp-service{
	padding-right: 0px;
}
.padd_des{
	padding-left: 0px;
}	
}
@media (min-width:768px) and (max-width:991px){
.about_comp:before, .about_comp:after{
    top: auto;
    bottom: 0;
    height: 55%;
    width: 100%;
}
.comp-service{
	padding-right: 0px;
}
.padd_des{
	padding-left: 0px;
	margin-top: 122px;
}
}

@media (max-width:767px){
.about_comp:before, .about_comp:after{
	display: none;
}	
.about_comp .reap_counter{
	background: #efefef;
}
.about_comp .reap_counter p{
	color: #222;
}
.comp-service{
	text-align: center;
}
.comp-service .total-text, .comp-service h3 .size{
	float: none;
}
.comp-service{
	padding-right:0px;
}
.padd_des{
	padding-left:0px;
}
}




/*testimonial section style*/
.testimonial_wrapper__block{
    position: relative;
    z-index: 1;
    color: #fff;
}

.single_carousel {
  margin: 0px 15px;
}
.single_carousel > p {
    background:#f7f7f7;
    padding: 25px 35px;
    position: relative;
    color: #222;
}

.single_carousel > p::after {
  background:#dedede;
  border-radius: 50%;
  bottom: -23px;
  color: #222;
  content: "\f10d";
  font-family: fontawesome;
  font-size: 18px;
  height: 50px;
  left: 20px;
  line-height: 49px;
  position: absolute;
  text-align: center;
  width: 50px;
}

.author_img__block {
    display: table;
    height: 130px;
}
.author_tablecell__block {
    display: table-cell;
    vertical-align: middle;
}
.author_tablecell__block > img {
    border: 5px solid #ffffff;
    border-radius: 50%;
    float: left;
    margin-left: 10px;
    max-width: 80px;
}
.author_tablecell__block > p {
    display: inline-block;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 15px;
}
.author_tablecell__block span {
    display: block;
    font-weight: normal;
}

.testimonial_carosule-wrap .owl-nav div {
    border: 1px solid #1d1d1d;
	color:#1d1d1d;
    display: inline-block;
    font-size: 18px;
    height: 40px;
    margin-left: 10px;
    text-align: center;
    transition: all 0.4s ease 0s;
    width: 40px;
    line-height: 40px;
	position:static;
	background:transparent;
	transform: translateY(0);
    -webkit-transform: translateY(0);
}
.testimonial_carosule-wrap .owl-nav {
  margin-top: 15px;
  text-align: center;
}
.testimonial_carosule-wrap .owl-nav div:hover {
background: #e8a20d;
    border-color: #e8a20d;
    color: #fff;
}
/*team section*/

.member_S_links__block {
    background:#1d1d1d;
    display: inline-block;
    bottom:-36px;
    padding: 0 10px;
    position: absolute;
    transition: all 0.3s;
    left: 0px;
}
.reletive_pic{
	position: relative;
	overflow: hidden;
}
.single_member__block:hover .member_S_links__block{
	bottom: 0;
}
.member_S_links__block a i.fa {
    color: #ffffff;
    display: inline-block;
    padding: 10px;
    transition: .3s;
}

.member_S_links__block a:hover i.fa {
    color: #feb20d;
}

.author__block {
    color: #222222;
    margin-left: 25px;
    margin-top: 25px;
}
.author__block > span {
    color: #777777;
    display: block;
    font-size: 75%;
    font-weight: normal;
	margin-top: 10px;
	padding-bottom:10px;
}
.single_member__block > p {
    color: #777777;
    margin-left: 25px;
}

.single_member__block img{
	max-width: 100%;
	width: 100%;
}
@media (max-width:991px){
    .member_S_links__block a i.fa{
        padding: 10px 5px;
    }
}
/*=======Blog Section=========*/
.over_hidden{
	overflow: hidden;
}
.latest__block-post {
	padding: 20px;
	background: #fff;
}
.latest__block .more_btn__block {
	margin-top: 10px;
}
.latest__block-title {
	font-size: 20px;
	font-weight: 800;
}
.latest__block-title:hover a {
	color: #f6bb18;
}
.team__block-section .team-member {
	margin-bottom: 0;
}
.more_btn__block {
	color: #feb20e;
	font-weight: bold;
	display: inline-block;
	margin-top: 30px;
}
@media (max-width: 767px) {
	.more_btn__block {
		margin-top: 0;
	}
}

/*-------------------------------------------------------------------------------------------*/
/* Client Logo       ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
.client-logo {
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.08);
	border-radius: 2px;
	margin-bottom: 20px;
	opacity: 0.6;
	transition: all 100ms ease-out 0s;
	padding: 10px 0px;
}
.client-logo:hover {
	border: 1px solid transparent;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	opacity: 1;
}
.client-logo img {
	height: 100%;
	width: auto;
}
#client-logos .owl-stage-outer .owl-item .item .client-logo img {
	width: auto;
	display: inline-block;
}
#client-logos .owl-controls .owl-nav .owl-prev {
	left: 0;
	margin-left: 0;
	opacity: 0;
}
#client-logos .owl-controls .owl-nav .owl-next {
	right: 0;
	margin-right: 0;
	opacity: 0;
}
#client-logos .owl-carousel:hover .owl-controls .owl-nav .owl-next, #client-logos .owl-carousel:hover .owl-controls .owl-nav .owl-prev {
	opacity: 1;
}

/* ===================================================================================================== */
/*Work Section*/
/* ===================================================================================================== */
.project_bg .sec-title {
	float: left;
}
.project_bg .section_title__block h2 {
	color: #fff;
}
.project_bg {
	background: url(../images/project_bg.jpg);
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	-webkit-backface-visibility: hidden;
}
.project_bg:before {
	position: absolute;
	content: "";
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.69);
}
.container-filter {
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 10px;
	padding: 0;
}

.container-filter li {
	list-style: none;
	display: inline-block;
	margin-bottom: 0px;
}

.container-filter li a {
	margin: 0px 4px 0px 0px;
	font-size: 13px;
	cursor: pointer;
	border-radius: 3px;
	border: none;
	padding: 10px 15px;
	color: #fff !important;
	position: relative;
	display: inline-block;
	-webkit-transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
	transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
	border: 1px solid transparent;
}
.container-filter li a.active, .container-filter li a:hover {
	color: #787878;
	background: #fff;
}
.item-box {
	position: relative;
	overflow: hidden;
	display: block;
}

.item-box a {
	display: inline-block;
}

.item-box {
	position: relative;
	overflow: hidden;
	display: block;
	border: 1px solid #e8a20d;
}
.item-box img {
	width: 100%;
}

.gallery-heading h4 {
	margin-bottom: 0;
}
.gallery-heading h4 a {
	color: #fff;
}
.gallery-heading h4 a:hover {
	color: #A4161A;
}
.gallery-heading {
	transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #fff;
	z-index: 1;
	background: #333;
	text-align: center;
	padding-bottom: 10px;
}
.gallery-heading p {
	margin-bottom: 0;
}

.item-container {
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	width: 100%;
	transition: transform .25s;
}
.item-box:hover .item-container {
	-webkit-transform: translateY(-64px);
	transform: translateY(-64px);
}

.item-box > a {
	display: block;
	position: relative;
	z-index: 2;
}

@media (min-width: 768px) and (max-width: 991px) {
	.project_bg .sec-title {
		width: 100%;
	}
	.container-filter {
		float: left;
		margin-top: 20px;
	}
}

@media (max-width: 767px) {
	.project_bg .sec-title {
		width: 100%;
	}
	.container-filter {
		float: left;
		margin-top: 20px;
	}
	.container-filter li a {
		margin: 0px 4px 5px 0px;
	}
}