/*-------------------------------------------------------------------------------------------*/
/*  Main Banner        ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
.main-banner {
	position: relative;
}

.main-banner .banner-text .sub-text {
	font-weight: 600;
	color: #ffffff;
	font-size: 16px;
	display: block;
	margin-bottom: 5px;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1;
}
.main-banner .banner-text h2 {
	font-size: 40px;
	color: #ffffff;
	font-weight: 800;
	margin-bottom: 10px;
	line-height: 1.5 !important;
	text-transform: capitalize;
	padding: 10px 0;
}
.main-banner .banner-text h2 span {
	color: #A4161A;
	font-size: 40px;
}
.main-banner .banner-text p {
	font-family: "Roboto";
	color: #ffffff;
	font-size: 15px;
	margin-bottom: 20px;
	line-height: 1.8;
}
.main-banner .tp-parallax-wrap {
}
.main-banner .tp-mask-wrap {
	height: auto;
}
.main-banner .more-btn {
	background: #A4161A;
	line-height: 30px;
	padding-left: 38px;
	padding-right: 38px;
	font-weight: 700;
	color: #fff;
}
.main-banner li .btn-text {
	line-height: 60px;
	padding-left: 38px;
	padding-right: 38px;
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 100px;
}
#wrapper .main-banner .tp-bullets {
	top: auto;
	left: 52%;
	display: block;
	visibility: visible;
	opacity: 1;
	bottom: 66px;
}
.main-banner .tp-bullet {
	width: 26px;
	height: 3px;
	background: #8f8f8f;
}
.main-banner .tp-bullet.selected {
	background: #ffaf36;
}
.tparrows.tp-leftarrow, .tparrows.tp-rightarrow {
	border: 1px solid #fff;
	z-index: 99;
	cursor: pointer;
	background: none;
	visibility: hidden;
}
.main-banner:hover .tparrows.tp-leftarrow, .main-banner:hover .tparrows.tp-rightarrow {
	visibility: visible;
}
.tparrows.tp-leftarrow:hover, .tparrows.tp-rightarrow:hover {
	background: #A4161A;
	border: 1px solid #A4161A;
}
.slotholder:before {
	border-top: none;
	border-bottom: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	/*background-color: rgba(0,0,0,0.69);*/
	background-color: rgba(0, 0, 0, 0);
	content: '';
}
@media (max-width: 480px) {
	.main-banner .banner-text h2, .main-banner .banner-text span {
		font-size: 25px !important;
	}
	.main-banner .banner-text p {
		line-height: 1.5 !important;
		font-size: 15px;
	}
}

.main-banner li .btn-text {
	line-height: 44px !important;
}

/*fuctuche_box*/
.proje_paret, .box_pic {
	position: relative;
	overflow: hidden;
}
.text-boxhover {
	background-color: rgba(29, 29, 29, 0.7);
	text-align: center;
	color: #fff;
	display: -webkit-flex;
	display: flex;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
}
.boda-cols {
	width: 100%;
	text-align: left;
}
.boda-cols h3 {
	font-size: 18px;
	vertical-align: middle;
	display: inline-block;
	margin: 0;
}
.boda-cols span.icon_bg {
	background: #BA181B;
	width: 50px;
	font-size: 35px;
	display: inline-block;
	text-align: center;
	height: 50px;
	line-height: 50px;
	margin-right: 10px;
	vertical-align: middle;
	/* float: left; */
}

.show-hov {
	background: #BA181B;
	padding: 25px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 100%;
	transition: all 0.4s ease-in-out;
}
.box_pic {
	transition: all 0.4s ease-in-out;
	opacity: 1;
}
.proje_paret:hover .show-hov {
	right: 0px;
}
.proje_paret:hover .box_pic {
	transform: translateX(100%);
	opacity: 0;
}
.hover_title .boda-cols span.icon_bg {
	background: #000;
	color: #fff;
}
.hover_title {
	margin-bottom: 15px;
}
.top_about .left_about h4 {
	color: #8e8e8e;
	font-weight: normal;
	margin: 0 0 10px;
	font-size: 18px;
}
.show-hov p {
	margin: 0px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.show-hov {
		padding: 10px;
	}
}
/*about_compny*/
#providing {
	background-image: url(../images/Program-management.jpg);
	background-attachment: fixed;
	-webkit-backface-visibility: hidden;
	background-position: center center;
	background-size: cover;
	width: 100%;
	position: relative;
}
#providing:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.82);
	content: '';
}

.qualitiy {
	position: relative;
	z-index: 9;
	color: #fff;
}
.qualitiy h2 {
	color: #fff;
	line-height: 1.4;
}

@media (min-width: 768px) and (max-width: 991px) {
	.resp-none {
		display: none;
	}
	.qualitiy {
		padding-bottom: 30px;
	}
}
@media (max-width: 767px) {
	.resp-none {
		display: none;
	}
	.qualitiy {
		padding-bottom: 50px;
	}
}
a.btn-2 {
	background: #fff;
	color: #000 !important;
	border-color: #fff;
	margin-right: 10px;
}
a.btn-2:hover {
	color: #fff !important;
}

/*======home-Services======*/
.full-wid .about-block .read__more {
	width: 52px;
	height: 35px;
	display: block;
	background: #A4161A;
	color: #fff;
	text-align: center;
	font-size: 31px;
	line-height: 35px;
	position: absolute;
	bottom: -35px;
	right: 0;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.full-wid .about-block {
	position: relative;
	overflow: hidden;
}
.full-wid .about-block:hover .read__more {
	bottom: 0;
}
.full-wid .border__b {
	border-bottom: 2px solid #A4161A;
}
.full-wid {
	width: 100% !important;
}
.home-services {
	position: relative;
}
.home-services .owl-nav .owl-next {
	right: 0px;
	left: auto;
}

/*process_section*/
.process_section {
	background: url(../images/clientbg3.jpg);
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	-webkit-backface-visibility: hidden;
}
.process_section:before {
	position: absolute;
	content: "";
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.58);
}
.process-icon {
	position: relative;
	border: 1px solid #f2f2f2;
	padding: 5px;
	background-color: transparent;
	transition: all 0.2s ease-in-out;
}
.process-icon:hover {
	border: 1px solid #BA181B;
	background: #BA181B;
}

.process-icon h3 {
	margin: 20px 0px;
	color: #333333;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2em;
}
.process-icon p {
	margin: 0px;
}
.icon-container {
	margin-bottom: 0px;
}
.text_work {
	padding: 48px 0;
	background: #fff;
}

.process-icon .icon-number {
	color: #BA181B;
	font-size: 30px;
}
/*loader*/
@-webkit-keyframes scale {
0% {
-webkit-transform: scale(1);
transform: scale(1);
opacity: 1; }
45% {
-webkit-transform: scale(0.1);
transform: scale(0.1);
opacity: 0.7; }
80% {
-webkit-transform: scale(1);
transform: scale(1);
opacity: 1; } }
@keyframes scale {
0% {
-webkit-transform: scale(1);
transform: scale(1);
opacity: 1; }
45% {
-webkit-transform: scale(0.1);
transform: scale(0.1);
opacity: 0.7; }
80% {
-webkit-transform: scale(1);
transform: scale(1);
opacity: 1; } }
.ball-pulse > div:nth-child(1) {
	-webkit-animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
	animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.ball-pulse > div:nth-child(2) {
	-webkit-animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
	animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.ball-pulse > div:nth-child(3) {
	-webkit-animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
	animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}
.ball-pulse {
	position: absolute;
	top: 50%;
	right: -27px;
}
@media (min-width: 768px) and (max-width: 991px) {
	.reponsiv_none {
		display: none;
	}
}

@media (max-width: 767px) {
	.ball-pulse {
		display: none;
	}
}

.ball-pulse > div {
	background-color: #dad6d6;
	width: 6px;
	height: 6px;
	border-radius: 100%;
	margin: 1px;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	display: inline-block;
}

@-webkit-keyframes ball-pulse-sync {
33% {
-webkit-transform: translateY(10px);
transform: translateY(10px); }
66% {
-webkit-transform: translateY(-10px);
transform: translateY(-10px); }
100% {
-webkit-transform: translateY(0);
transform: translateY(0); } }

@keyframes ball-pulse-sync {
33% {
-webkit-transform: translateY(10px);
transform: translateY(10px); }
66% {
-webkit-transform: translateY(-10px);
transform: translateY(-10px); }
100% {
-webkit-transform: translateY(0);
transform: translateY(0); } }

.ball-pulse-sync > div:nth-child(1) {
	-webkit-animation: ball-pulse-sync 0.6s -0.14s infinite ease-in-out;
	animation: ball-pulse-sync 0.6s -0.14s infinite ease-in-out;
}

.ball-pulse-sync > div:nth-child(2) {
	-webkit-animation: ball-pulse-sync 0.6s -0.07s infinite ease-in-out;
	animation: ball-pulse-sync 0.6s -0.07s infinite ease-in-out;
}

.ball-pulse-sync > div:nth-child(3) {
	-webkit-animation: ball-pulse-sync 0.6s 0s infinite ease-in-out;
	animation: ball-pulse-sync 0.6s 0s infinite ease-in-out;
}

.ball-pulse-sync > div {
	background-color: #fff;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	margin: 2px;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	display: inline-block;
}

/*Team*/
#team_member h2 span{
	color:#222;
}
.position_rel {
	position: relative;
}
.bg_prap {
	background: #BA181B;
	padding-bottom: 300px;
}



#team_member:after {
	content: "";
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 78px;
	background: url(../images/banner_bg.png) 0 0 no-repeat;
	background-size: cover;
	display: inline-block;
	position: absolute;
	z-index: 9;
}
.team_view {
	position: relative;
	overflow: hidden;
}
.team_view figure {
	margin: 0px;
}
.team_view figure img {
	width: 100%;
}
.team_discoption span.team_name {
	font-weight: 600;
}
.team_discoption span {
	display: block;
	text-transform: uppercase;
}
.team_hover {
	position: absolute;
	top: 100%;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	transition: all 0.5s ease;
	padding: 0px 20px;
}
.team_head:hover .team_hover {
	top: 0px;
	transition: all 0.5s ease;
}
.team_hover ul {
	padding: 0px;
	width: 100%;
}
.team_discoption {
	background: #fff;
}
.team_hover ul li {
	list-style: none;
	height: 25px;
	width: 25px;
	display: inline-block;
}
.appointment {
	background-color: #fff;
	padding: 42px 32px;
	float: left;
	width: 100%;
	box-shadow: 1px 1px 30px rgba(14, 21, 34, 0.1);
}
.apon_top {
	margin-top: -230px;
	z-index: 99;
	position: relative;
}
.apon_top .contact-form textarea {
	height: 124px;
	margin-bottom: 23px;
}
@media (max-width: 767px) {
	.bg_prap {
		padding-bottom: 40px;
	}
	#team_member:after{
		display: none;
	}
		.apon_top {
		margin-top: 0px;
	}
}


/*testimonial section style*/
.testimonial_wrapper__block {
	z-index: 1;
}

.testimonial_wrapper__block::before {
	background: #f5f5f5 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.76;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}
.single_carousel {
	margin: 0px 15px;
}
.single_carousel > p {
	background: #f2f2f2;
	padding: 25px 33px 44px;
	position: relative;
	color: #222;
}

.single_carousel > p::after {
	background: #f2f2f2;
	border-radius: 50%;
	bottom: -23px;
	color: #0c1f38;
	content: "\f10d";
	font-family: fontawesome;
	font-size: 18px;
	height: 50px;
	left: 20px;
	line-height: 49px;
	position: absolute;
	text-align: center;
	width: 50px;
}

.author_img__block {
	display: table;
	height: 130px;
	color: #222;
}
.author_tablecell__block {
	display: table-cell;
	vertical-align: middle;
}
.author_tablecell__block > img {
	border: 5px solid #ffffff;
	border-radius: 50%;
	float: left;
	margin-left: 10px;
	max-width: 80px;
}
.author_tablecell__block > p {
	display: inline-block;
	font-weight: 700;
	margin-left: 15px;
	margin-top: 15px;
}
.author_tablecell__block span {
	display: block;
	font-weight: normal;
}

.testimonial_carosule-wrap .owl-nav div {
	border: 1px solid #0c1f38;
	color: #0c1f38;
	display: inline-block;
	font-size: 18px;
	height: 40px;
	margin-left: 10px;
	text-align: center;
	transition: all 0.4s ease 0s;
	width: 40px;
	line-height: 40px;
	position: static;
	background: transparent;
	transform: translateY(0);
	-webkit-transform: translateY(0);
}
.testimonial_carosule-wrap .owl-nav {
	margin-top: 15px;
	text-align: center;
}
.testimonial_carosule-wrap .owl-nav div:hover {
	background: #0c1f38;
	color: #fff;
}
.member_say {
	font-size: 14px;
}

/*-------------------------------------
 Our Blog
 ----------------------------------------*/
.upcoming__hover__info {
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 2;
}
.upcoming__hover__info::before {
	background: #000;
	content: "";
	height: 100%;
	opacity: 0.6;
	position: absolute;
	width: 100%;
	z-index: -1;
}
.upcoming__hover__action {
	padding-left: 20px;
	/* padding-top: 30px; */
}
.upcoming__event__time {
	color: #fff;
	display: flex;
}
.event__time span {
	color: #BA181B;
	display: block;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}
.event__time span:first-child {
	font-size: 44px;
	margin-bottom: 13px;
}
.event__time {
    padding-right: 15px;
    line-height: 25px;
}
.event__location {
	padding-left: 15px;
}
.event__separator {
	position: relative;
}
.event__separator::before {
	background: #929393;
	content: "";
	height: 44px;
	position: absolute;
	width: 1px;
}
.event__location {
	padding: 0 0 0 17px;
	margin: 0;
	list-style: none;
}
.event__location li {
	font-size: 14px;
	font-weight: 500;
	text-align: left;
}
.event__location li i {
	margin-right: 10px;
}
.upcoming__details p {
	color: #fff;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	font-family: 'Poppins', sans-serif;
}
.upcoming__details p a {
	color: #fff;
}
.upcoming__details {
	margin-bottom: 42px;
	padding-right: 12%;
}
.upcoming__event__time {
	margin-bottom: 15px;
}
.more_btn__block {
	color: #BA181B;
	font-weight: bold;
	display: inline-block;
	margin-top: 30px;
	transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
}
.more_btn__block:hover {
	color: #fff;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.upcoming__hover__action {
		padding-left: 16px;
		padding-top: 22px;
	}
	.event__time span:first-child {
		font-size: 27px;
		margin-bottom: 7px;
	}
	.event__location li {
		font-size: 12px;
	}
	.event__time {
		padding-right: 12px;
	}
	.upcoming__event__time {
		margin-bottom: 5px;
	}
	.upcoming__event__time {
		margin-bottom: 5px;
	}
	
}
.upcoming__latest__event .upcoming__hover__info {
	width: 300px;
}

@media (min-width: 768px) and (max-width: 991px) {
	.event__time{
		line-height: normal;
	}
	.upcoming__details p{
		font-size: 18px;
	}
	.event__time span:first-child, .upcoming__event__time, .upcoming__details p, .upcoming__details{
		margin-bottom: 0px;
	}
}

@media (max-width: 767px) {
	.upcoming__latest__event .upcoming__hover__info {
		width: 100%;
	}
	.upcoming__hover__action{
		padding-top: 0;
	}
		.event__time{
		line-height: normal;
		margin-bottom: 15px;
	}
	.upcoming__details, .upcoming__event__time{
		margin-bottom: 0px;
	}
}

