<script>

</script>

<template>
    <div class="welcome__holder">
        <h1>Welcome to <a href="https://bisonx.co" style="color: #2eb2f6; text-decoration: none;" target="_blank">bisonx.co</a>  CMS (4.0)</h1>
        <p>Please navigation through pages in order to change the content</p>
    </div>
</template>

<style scoped>

    .welcome__holder {
        width: 50%;
        margin: 0 auto;
    }

    h1 {
        font-size: 20px;
        margin-top: 70px;
        display: block;
        text-align: center;
    }

    p {
        display: block;
        margin-top: 50px;
        text-align: center;
    }
</style>