body,
html {
    overflow-x: hidden !important;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

body::-webkit-scrollbar-thumb {
    background-color: #BA181B;
    outline: 1px solid #BA181B;
}

.overlay_cover {
    position: absolute;
    background-image: linear-gradient(rgba(22, 26, 29, .803), rgba(22, 26, 29, .705));
    width: 100%;
    height: 100%;
    z-index: 1;
}

.container-fluid {
    padding: 0px 12%;
}

.stricky {
    transition: ease all 0.3s !important;
}

.flamurat img {
    width: 30px;
    height: 17px;
    object-fit: cover;
    object-position: center;
}

.logo_top {
    max-width: 100%;
    width: 200px;
    object-fit: cover;
    object-position: left;
    transition: ease all 0.3s;
    padding-bottom: 10px;
}

.stricky .logo_top {
    max-width: 100%;
    width: 170px;
    transition: ease all 0.3s;
    /* filter: brightness(0) invert(1); */
    padding-bottom: 10px;
}

.header-1 .navigation>ul>li>a {
    border-bottom: solid 2px transparent;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.header-1 .navigation>ul>li>a:hover {
    border-bottom: solid 2px #BA181B;
}


.header-1 .navigation>ul>li>.active {
    border-bottom: solid 2px #BA181B;
    color: #BA181B;
}

.vision_mission_sections img {
    width: 100%;
}

.ceo_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-wrap {
    background: rgb(255 255 255 / 100%);
}

.navigation>ul>li>a {
    color: #BA181B;
}

.header-1 .top-bar-section {
    background: #BA181B;
}

.header-1 .top-bar-section a,
.header-1 .top-bar-section i,
.header_tran .top_loction ul li a i {
    color: white;
    transition: ease all 0.3s;
}

.header_tran .top_loction ul li a:hover {
    opacity: 0.5;
    color: white;
    transition: ease all 0.3s;
}

.project-details img {
    width: 100%;
}

.project-gallery {
    display: flex;
    flex-wrap: wrap;
}

.slider_proejcts img {
    height: 250px;
    object-fit: cover;
}

.slider_proejcts p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    line-height: 20px;
    height: 123px;
}

.projektet_kryesore img {
    height: 250px;
    object-fit: cover;
}

.projektet_kryesore p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    line-height: 20px;
    height: 123px;
}

.project-gallery img {
    height: 280px;
    object-fit: cover;
}

.project-details {
    margin-bottom: 70px;
}

.main-banner .banner-text h2 {
    text-transform: uppercase;
}

.proje_paret img {
    height: 350px;
    object-fit: cover;
    width: 100%;
}

.upcoming__event__time {
    display: block;
}

.event__location li {
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    margin-top: 20px;
}

.event__time span:first-child {
    font-size: 20px;
    margin-bottom: 13px;
    text-align: left;
}

.upcoming__latest__event img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.logo-group li {
    display: flex;
    align-items: center;
}
.logo-group li img {
    width: 50%;
    margin: 0 auto;
    object-fit: contain;
    height: 73%;
}

.team-section img {
    height: 300px;
    object-fit: cover;
}

.stricky .reletiv_box {
    box-shadow: 0 8px 17px 2px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%), 0 5px 5px -3px rgb(0 0 0 / 20%);
}

.services_cover_top {
    padding-top: 10vh;
}