/*Only in desktop*/
@media only screen and (min-width: 1000px) {
  .desktop-d-n {
    display: none;
  }
}

/*Only on Mobile*/
@media only screen and (max-width: 1000px) {
  .mobile-d-n {
    display: none;
  }

  .container-fluid {
    padding: 0 4%;
  }

  .tparrows {
    top: 90%;
  }

  .logo_top {
    width: 120px;
  }

  .stricky .logo_top {
    width: 120px;
  }

  .header-1 .navigation>ul>li>.active {
    color: white;
  }

  .header-1 .navigation>ul>li>a {
    border-bottom: solid 0px transparent;
    padding-bottom: 5px;
    margin-bottom: 0px;
  }

  .menu {
    border: none;
    border-bottom: 4px solid #BA181B;
    border-top: 4px solid #BA181B;
    height: 29px;
    position: absolute;
    right: 29px;
    top: 34px;
    width: 44px;
    background: none;
    z-index: 10;
  }
  .main-banner .banner-text p {
    font-size: 17px !important;
  }
  .main-banner .banner-text h2 {
    font-size: 35px !important;
  }
  .tparrows.tp-leftarrow, .tparrows.tp-rightarrow {
    visibility: inherit !important;
    top: 80% !important;
  }
  .tp-leftarrow {    
    left: -5% !important;
  }
  .tp-rightarrow {
    left: 41% !important;
  }
}