/*
============== background Color====================
*/
.dark-bg, .hover-bg:hover, .ui-timeline .tl-item .tl-body .tl-entry .btn-primary, .btn-text, .faq .collape-plus,
.container-filter li a.active, .container-filter li a:hover, .container-filter li a, .link-zoom a, .link-zoom a.project_links,
.project-info, #related-project .owl-prev:hover, #related-project .owl-next:hover, .sidebar-widget .widget-tag li a:hover,
.content-carousel .owl-controls .owl-nav .owl-prev, .content-carousel .owl-controls .owl-nav .owl-next,
.image-slider .owl-controls .owl-nav .owl-prev, .image-slider .owl-controls .owl-nav .owl-next,
.fullwidth-slider .owl-controls .owl-nav .owl-prev, .fullwidth-slider .owl-controls .owl-nav .owl-next,
.nf-carousel-theme .owl-controls .owl-nav .owl-prev, .nf-carousel-theme .owl-controls .owl-nav .owl-next, .blog-date,
.pagination-nav ul li.active a, .pagination-nav ul li:hover a, .page-signin .body-inner:before, .b-line, .bottom-section, 
#footer-widgets .widget .widget-title > span::after, .main-menu__block ul li a.custom_btn__block, .bg-color, .box-hover:hover .team-block, 
.ui-input-group .input-bar:before, .ui-input-group .input-bar:after, .btn-default:hover, .color-switch .owl-controls .owl-page span,
 .tags li a, .btn-default, .bar, div .secondary_bg, .testimonial_carosule-wrap .owl-nav div:hover, 
 .counter-section__img:before, .counter-section__box .counter:after, .feature-icon-wrap:after, 
 .featured-icon-wrap li:nth-child(2n) .feature-icon-wrap:after, .featured-icon-wrap li:nth-child(3) .feature-icon-wrap:after, 
 .faq .collape-plus, .panel-title a i,.sevice-box .service-text:before,.single-blog-post .content-box .date-box .inner .date {
  background: #BA181B;
}

/*
============== Text Color====================
*/
a:hover, .gallery-heading h4 a:hover, .post-meta span > a > i,
.sidebar-widget ul li a:hover, .lead-point li, .blog-post .fa-tag, .pagination-nav ul li a, .big-font i, .btn-text:hover,
.color-primary, a.color-primary, .contact .icon-circle, .single-sidebar-widget .special-links li:hover a,
.single-sidebar-widget .special-links li a.active, .custom-check:before, .poins ul li i, .testimorial-bg .testimonial .invatic-icon, h2 span, 
.main-banner .banner-text h2 span, .top-info__block li i, .star i, .testimonial_carosule-wrap .owl-nav div, .contact-info .info li .icon {
  color: #BA181B;
}

/*
============== Border Color====================
*/
.ui-timeline .tl-item .tl-body .tl-entry .btn-primary, .btn-text, #related-project .owl-prev:hover, #related-project .owl-next:hover,
.widget-tag li a, .pagination-nav ul li a, .client-avtar, .contact .icon-circle,
.contact-form input[type="text"]:focus, .contact-form textarea:focus, .single-sidebar-widget .special-links li a:before,
.widget-search input[type="text"]:focus, .custom-check, .container-filter li a, .container-filter li a.active,
.container-filter li a:hover, .testimorial-bg .testimonial .invatic-icon, .nf-carousel-theme-top .owl-controls .owl-nav .owl-prev, .nf-carousel-theme-top .owl-controls .owl-nav .owl-next,
 .testimonial_carosule-wrap .owl-nav div, .feature-icon-wrap:after, .featured-icon-wrap li:nth-child(2n) .feature-icon-wrap:after, 
 .featured-icon-wrap li:nth-child(3) .feature-icon-wrap:after,.sevice-box:hover .service-text,.single-blog-post .content-box .date-box .inner{
  border-color: #BA181B;
}

.team-member .inner-box .overlay-box:after, .rightGrip:before, .leftGrip:before{
	border-bottom-color:#BA181B ;
}
